body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px; /* Ajuste fino do espaçamento entre grupos */
}

input[type="text"], input[type="date"], input[type="time"], select {
    width: calc(100% / 4 - 10px); /* Dividindo espaço por quatro, considerando margens */
    padding: 10px;
    margin-right: 5px;
}

button {
    width: 25%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
}
